<html>

    <head>
        <title>Fruits</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <% fruits.forEach(fruit => { %>
            <div>
                <p><%= fruit.name %></p>
                <p><%= fruit.type %></p>
            </div>
        <% }); %>
    </body>

</html>