<html>

    <head>
        <title><%= fruit.name %></title>
        <meta charset="UTF-8">
    </head>

    <body>
        <p><%= fruit.name %></p>
        <p><%= fruit.type %></p>
    </body>

</html>